# 1.Importing and descriptive statistics

In [9]:
import pandas as pd
citypath ="C:\\Users\\wesle\\Desktop\\contest\\data\\CityData.csv"
Insitupath="C:\\Users\\wesle\\Desktop\\contest\\data\\In_situMeasurementforTraining_201712.csv"
Trainpath="C:\\Users\\wesle\\Desktop\\contest\\data\\ForecastDataforTraining_201712.csv"

In [10]:
city=pd.read_csv(citypath)
# city location 0 represent london is the starting point for all balloons
city

    cid  xid  yid
0     0  142  328
1     1   84  203
2     2  199  371
3     3  140  234
4     4  236  241
5     5  315  281
6     6  358  207
7     7  363  237
8     8  423  266
9     9  125  375
10   10  189  274

In [12]:
Insitu=pd.read_csv(Insitupath)
Insitu.head() # Real-time wind value

   xid  yid  date_id  hour  wind
0    1    1        1     3  12.8
1    1    2        1     3  12.8
2    1    3        1     3  12.6
3    1    4        1     3  12.1
4    1    5        1     3  11.6

Insitu data represents the data generated and collected from the real world. 
Xid and Yid forms a 548 * 421 cell blocks. 
Hour range from 3 to 20 , which means each day the balloon has 18 hours to fly across the map
Day_id shows that we have totally 5 days, each day has one mission for navigating 10 balloons from city id 0 to the other 10 cities.

In [13]:
Insitu.describe()

                xid           yid       date_id          hour          wind
count  2.076372e+07  2.076372e+07  2.076372e+07  2.076372e+07  2.076372e+07
mean   2.745000e+02  2.110000e+02  3.000000e+00  1.150000e+01  1.129610e+01
std    1.581937e+02  1.215319e+02  1.414214e+00  5.188128e+00  5.491615e+00
min    1.000000e+00  1.000000e+00  1.000000e+00  3.000000e+00  0.000000e+00
25%    1.377500e+02  1.060000e+02  2.000000e+00  7.000000e+00  7.360000e+00
50%    2.745000e+02  2.110000e+02  3.000000e+00  1.150000e+01  1.060000e+01
75%    4.112500e+02  3.160000e+02  4.000000e+00  1.600000e+01  1.490000e+01
max    5.480000e+02  4.210000e+02  5.000000e+00  2.000000e+01  4.830000e+01

In [14]:
Train=pd.read_csv(Trainpath)
Train.head()

   xid  yid  date_id  hour  model  wind
0    1    1        1     3      1  13.8
1    1    1        1     3      2  12.8
2    1    1        1     3      3  10.4
3    1    1        1     3      4  11.1
4    1    1        1     3      5  13.2

Every day we have 10 models to forcast the weather and most of the models are 96-97 percent correct. We would like to predict the weather using the 10 models.

In [15]:
Train.describe()

,xid,yid,date_id,hour,model,wind
count,2.076372e+08,2.076372e+08,2.076372e+08,2.076372e+08,2.076372e+08,2.076372e+08
mean,2.745000e+02,2.110000e+02,3.000000e+00,1.150000e+01,5.500000e+00,1.153906e+01
std,1.581937e+02,1.215319e+02,1.414214e+00,5.188127e+00,2.872281e+00,5.512402e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00,1.000000e+00,0.000000e+00
25%,1.377500e+02,1.060000e+02,2.000000e+00,7.000000e+00,3.000000e+00,7.630000e+00
50%,2.745000e+02,2.110000e+02,3.000000e+00,1.150000e+01,5.500000e+00,1.080000e+01
75%,4.112500e+02,3.160000e+02,4.000000e+00,1.600000e+01,8.000000e+00,1.500000e+01
max,5.480000e+02,4.210000e+02,5.000000e+00,2.000000e+01,1.000000e+01,4.930000e+01

# 2.Model Selection
We would like to use logistic regression model for the training data. As we are only interested in whether the wind will be over 15, binary classification will be the toolkits.
However Logistic models requires the explanatory variable X to be uncorrelately. The ten models output are highly correlated thus orthogonal decomposition is needed for data shrinkage. In this project, we would like to use Principal Component Analysis.

## 2.1 reshape the data to fit the model

In [25]:
newtrain=Train.pivot_table(values="wind",index=["xid","yid","date_id","hour"],columns="model")
newtrain.head()

MemoryError:

In [18]:
newdf=df.pivot_table(values='value', index=['year', 'month'], columns='item')

    month  year  value    item
0       1  2004     16  item 1
1       2  2004     34  item 1
2       3  2004     78  item 1
3       4  2004     86  item 1
4       5  2004     20  item 1
5       6  2004     97  item 1
6       7  2004     14  item 1
7       8  2004     78  item 1
8       9  2004     29  item 1
9      10  2004      7  item 1
10     11  2004     94  item 1
11     12  2004     75  item 1
12      1  2004    207  item 2
13      2  2004    263  item 2
14      3  2004    221  item 2
15      4  2004    269  item 2
16      5  2004    225  item 2
17      6  2004    214  item 2
18      7  2004    272  item 2
19      8  2004    209  item 2
20      9  2004    262  item 2
21     10  2004    287  item 2
22     11  2004    274  item 2
23     12  2004    284  item 2

In [22]:
newdf=df.pivot_table(values='value', index=['year', 'month'], columns='item')
newdf

item        item 1  item 2
year month
2004 1          16     207
     2          34     263
     3          78     221
     4          86     269
     5          20     225
     6          97     214
     7          14     272
     8          78     209
     9          29     262
     10          7     287
     11         94     274
     12         75     284

In [24]:
print(type(newdf))
print(type(df))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>